<mat-card-title>Details de la nationalité</mat-card-title>
<mat-dialog-content class="content">
    <div class="row mt-4">
        <mat-card-subtitle>Id: </mat-card-subtitle>
        <p><b>{{nationality.id}}</b></p>
    </div>

    <div class="row mt-2">
        <mat-card-subtitle>Designation: </mat-card-subtitle>
        <p><b>{{nationality.designation}}</b></p>
    </div>

    <div class="row mt-2">
        <mat-card-subtitle>Créé à: </mat-card-subtitle>
        <p><b>{{nationality.created_at.toString().substring(0, 10)}}</b></p>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
    </button>
</mat-dialog-actions>
