<section class="localisation">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">looks_one</mat-icon>
        Ville
      </ng-template>
      <app-city></app-city>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">looks_two</mat-icon>
        Commune
      </ng-template>
      <app-commune></app-commune>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">looks_3</mat-icon>
        Quartier
      </ng-template>
      <app-district></app-district>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon">looks_4</mat-icon>
        Avenue
      </ng-template>
      <app-avenue></app-avenue>
    </mat-tab>
  </mat-tab-group>
</section>
