<section class="member">
  <div class="container pt-3" id="main-container">
    <div class="row" style="display:flex; justify-content: space-between; align-items: center;">
      <h2 class="col-md-10">Membre</h2>
      <div>
        <button mat-raised-button color="primary" (click)="createDialog()">NOUVEAU</button>
        <button mat-raised-button color="primary" (click)="generatePDF()">PRINT</button>
      </div>
    </div>
    <hr class="dropdown-divider" />

    <div class="table_actions row"
      style="display:flex; justify-content: space-between; align-items: center; padding:10px 0px">
      <h4 class="title mt-4 mb-3">Liste des membres ({{members.length}})</h4>
      <p>
        <mat-form-field class="input_text_form" appearance="fill">
          <mat-label>Rechercher ici...</mat-label>
          <input #query matInput placeholder="Votre requête de recherche ici" (keyup)="performSearch(query.value)">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </p>
    </div>

    <div class="mat-elevation-z2" id="content" #content>
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortChange($event)">

        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id"> Id. </th>
          <td mat-cell *matCellDef="let member"> {{member.id}} </td>
        </ng-container>

        <ng-container matColumnDef="fullname">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by fullname"> Nom complet
          </th>
          <td mat-cell *matCellDef="let member"> <b>{{member.fullname}}</b> </td>
        </ng-container>

        <ng-container matColumnDef="gender">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by gender"> Genre </th>
          <td mat-cell *matCellDef="let member"> {{member.gender}} </td>
        </ng-container>

        <ng-container matColumnDef="dob">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by dob"> Date de naissance
          </th>
          <td mat-cell *matCellDef="let member"> {{member.dob}} </td>
        </ng-container>

        <ng-container matColumnDef="id_schooling">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id_schooling"> Scolarité
          </th>
          <td mat-cell *matCellDef="let member"> <b>{{member.id_schooling}}</b> </td>
        </ng-container>

        <ng-container matColumnDef="id_relationship">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id_relationship">
            Lien de parenté</th>
          <td mat-cell *matCellDef="let member"> <b>{{member.id_relationship}}</b> </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let member">
            <div class="btn-group">
              <a (click)="viewDialog(member)" class="btn btn-light btn-xs" title="View"
                style="background-color: rgba(0, 0, 128, 0.1); padding: 10px"> <i class="uil uil-eye"
                  style="color: #000080"></i></a>
              <a (click)="updateDialog(member)" class="btn btn-light btn-xs" title="Edit"
                style="background-color: rgba(0, 128, 0, 0.1); padding: 10px"> <i class="uil uil-pen"
                  style="color: #008000"></i></a>
              <a (click)="deleteDialog(member.id)" class="btn btn-light btn-xs" title="Delete"
                style="background-color: rgba(221, 19, 19, 0.1); padding: 10px"> <i class="uil uil-trash"
                  style="color: #dd1313"></i></a>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[10, 20, 30, 50]" showFirstLastButtons aria-label="Select page of elements">
      </mat-paginator>
    </div>
  </div>
</section>
