<mat-card-title>Update avenue</mat-card-title>
<br><br>
<mat-dialog-content [formGroup]="form">
  <p>
    <mat-form-field class="input_text_form" appearance="fill">
      <mat-label>District</mat-label>
      <mat-select formControlName="id_district" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let district of districts" [value]="district.id">
          {{district.designation}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.controls['id_district'].hasError('required')">Please choose a district</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field class="input_text_form" appearance="fill">
      <mat-label>ex: DE LA MISSION</mat-label>
      <input matInput placeholder="Designation here" formControlName="designation">
      <mat-icon matSuffix>article</mat-icon>
      <mat-error *ngIf="form.controls['designation'].hasError('required')">
        La désignation <strong>est requis</strong>
      </mat-error>
    </mat-form-field>
  </p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button color="primary" (click)="close()">Fermer</button>
  <button mat-raised-button color="primary" (click)="update()">Create</button>
</mat-dialog-actions>